@model IEnumerable<Inmobiliaria.Models.TipoInmueble>
@{
    ViewData["Title"] = "Tipos de Inmuebles";
}
<h1>Tipos de Inmuebles</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Nuevo Tipo</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>@item.Nombre</td>
            <td>@item.Descripcion</td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">Detalles</a>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Editar</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
